<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofunctionloboapp-dvcph7fmatbfhrdh.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6220345c-af05-414b-9c22-63fcd8820476/resourceGroups/femofunctionlobo/providers/Microsoft.Web/sites/demofunctionloboapp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://demofunctionloboapp-dvcph7fmatbfhrdh.scm.francecentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>